
{{!-- edit is not working properly and is being commented out --}}
<li>
    <div class="ticket">
        <!-- <h2 class="title">Software programming issue</h2> -->
        <div class="ticket-info">
            <div class="flex-wrap left-side">
                <p class="requestor">Title: {{title}}</p>
                <textarea class="description" readonly>{{content}}</textarea>
            </div>
            <div class="flex-wrap right-side ">
                {{!-- <p class="info" id="date">Submission Date: {{created_at}}</p> --}}
                <p class="info">Type: {{category}}</p>
                <p class="info">Status: {{status}}</p>
                <button type="submit" class="delete-btn button" data-deleteid="{{id}}">
                    Delete
                </button>
                <button type="submit" class="button edit-btn" data-editid="{{id}}">
                    Edit
                </button>
            </div>
        </div>
    </div>
</li>
